<header class="bg-indigo-600">
  <nav class="mx-auto max-w-7xl px-4" aria-label="Top">
    <div
      class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none"
    >
      <div class="space-x-8">
        <a
          routerLink="/todos"
          class="text-base font-medium text-white hover:text-indigo-50"
          >Todo's</a
        >
      </div>
    </div>
  </nav>
</header>
<div class="mx-auto max-w-7xl px-4 pt-8">
  <router-outlet></router-outlet>
</div>
