<form [formGroup]="form" class="space-y-8 divide-y divide-gray-200 bg-white shadow rounded-md p-4">
  <div class="space-y-8 divide-y divide-gray-200">
    <div class="space-y-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Add Todo</h3>

      <div class="space-y-6">
        <div
          class="grid grid-cols-3 items-start gap-4 border-t border-gray-200 pt-5"
        >
          <label
            for="title"
            class="block text-sm font-medium text-gray-700 mt-px pt-2"
            >Title</label
          >
          <div class="mt-1 col-span-2 mt-0">
            <input
              type="text"
              name="title"
              id="title"
              formControlName="title"
              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm"
            />
          </div>
        </div>

        <div
          class="grid grid-cols-3 items-start gap-4 border-t border-gray-200 pt-5"
        >
          <label
            for="body"
            class="block text-sm font-medium text-gray-700 mt-px pt-2"
            >Description</label
          >
          <div class="mt-1 col-span-2 mt-0">
            <textarea
              id="body"
              name="body"
              rows="3"
              formControlName="body"
              class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <button
        type="button"

        class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        (click)="submitForm()"
      >
        Save
      </button>
    </div>
  </div>
</form>
