<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h1
      class="text-2xl font-bold leading-7 text-gray-900"
    >
      Todo's
    </h1>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
    <button
      type="button"
      class="ml-3 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      (click)="addTodo()"
    >
      Add
    </button>
  </div>
</div>

<div
  *ngIf="todos$ | async; let todos"
  class="mt-4 overflow-hidden bg-white shadow rounded-md"
>
  <ul role="list" class="divide-y divide-gray-200">
    <div *ngFor="let todo of todos" class="p-4">
      <div class="text-lg font-medium">{{ todo.title }}</div>
      <div class="text-gray-600">{{ todo.body }}</div>
    </div>
  </ul>
</div>
